In [6]:
import pandas as pd
import numpy as np

In [7]:
dataframe = pd.read_csv('budget_data.csv')

In [25]:
dataframe.head(20)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
5   Jun-2010         522857
6   Jul-2010        1033096
7   Aug-2010         604885
8   Sep-2010        -216386
9   Oct-2010         477532
10  Nov-2010         893810
11  Dec-2010         -80353
12  Jan-2011         779806
13  Feb-2011        -335203
14  Mar-2011         697845
15  Apr-2011         793163
16  May-2011         485070
17  Jun-2011         584122
18  Jul-2011          62729
19  Aug-2011         668179

In [9]:
dataframe.Date.count()

86

In [10]:
total = np.array(dataframe['Profit/Losses'].tolist())
total_list = dataframe['Profit/Losses'].tolist()

In [11]:
total_list[0:5]

[867884, 984655, 322013, -69417, 310503]

In [13]:
totals = sum(total_list)
totals

38382578

In [21]:
pluses = [i for i in total_list if i>=0]
minuses = [i for i in total_list if i<0]

In [28]:
average = []
for i in range(len(total_list)):
    try:
        average.append(total_list[i]-total_list[i-1])
    except:
        pass

In [32]:
dates = dataframe.Date.tolist()

In [35]:
print(max(average), dates[average.index(max(average))])

1926159 Feb-2012

In [36]:
print(min(average), dates[average.index(min(average))])

-2196167 Sep-2013

In [45]:
print("Total Months: "+str(dataframe.Date.count()))
print("Total: $"+str(totals))
print("Average: N/A")
print("Greatest Increase in Profits: "+str(max(average)), str(dates[average.index(max(average))]))
print("Greatest Decrease in Profits: "+str(min(average)), str(dates[average.index(min(average))]))

Total Months: 86
Total: $38382578
Average: N/A
Greatest Increase in Profits: 1926159 Feb-2012
Greatest Decrease in Profits: -2196167 Sep-2013