In [1]:
import pandas as pd

In [2]:
dataframe2 = pd.read_csv('election_data.csv')

In [3]:
dataframe2.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [4]:
total_votes = dataframe2['Voter ID'].count()
total_votes

3521001

In [5]:
candidates = dataframe2.Candidate.unique().tolist()
candidates

['Khan', 'Correy', 'Li', "O'Tooley"]

In [6]:
candidate_voted = dataframe2.Candidate.tolist()
khan = 0
correy = 0
li = 0
otooley = 0

for i in candidate_voted:
    if i=='Khan':
        khan+=1
    elif i=='Correy':
        correy+=1
    elif i=='Li':
        li+=1
    elif i=="O'Tooley":
        otooley+=1

In [7]:
khan_percent = str(round(khan/total_votes, 2)*100)+"%"
correy_percent = str(round(correy/total_votes, 2)*100)+"%"
li_percent = str(round(li/total_votes, 2)*100)+"%"
otooley_percent = str(round(otooley/total_votes, 2)*100)+"%"

print(khan_percent)
print(correy_percent)
print(li_percent)
print(otooley_percent)

63.0%
20.0%
14.000000000000002%
3.0%

In [8]:
print(khan)
print(correy)
print(li)
print(otooley)

2218231
704200
492940
105630

In [9]:
winner_list = [khan, correy, li, otooley]
print("Winner: "+candidates[winner_list.index(max(winner_list))])

Winner: Khan